body {
    margin: 0;
}
.container {
    border: 6px solid black;
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1 {
    background-color: rgb(240, 240, 171);
    text-decoration: underline;
    color: black;
}
.item-2 {
    color: black;
    background-color: rgb(234, 177, 77);
}
.item-3 {
    color: black;
    background-color: rgb(39, 82, 52);
}
.item-4 {
    color: black;
    background-color: rgb(231, 218, 79);
}
.item-5 {
    color: black;
    background-color: rgb(104, 166, 236);
}
.item-6 {
    color: black;
    background-color: rgb(225, 93, 130);
}
.item-7 {
    color: black;
    background-color: rgb(51, 134, 76);
}
.item-8 {
    color: black;
    background-color: rgb(199, 96, 179);
}
.item-9 {
    color: black;
    background-color: rgb(87, 241, 215);
}




